.contenedor-main {
    padding: var(--espaciado-l);
}

.contenedor-main header {
    padding-bottom: var(--espaciado-m);
    color: var(--color-primario)
}

.contenedor-metricas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--espaciado-m);
}

.contenedor-grafico {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--espaciado-m);
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .contenedor-grafico {
        grid-template-columns: 1fr;
    }
}