/* Estilo de la Tarjeta Individual */
.tarjeta-materia {
  padding: var(--espaciado-xs);
  border-radius: var(--radio-borde);
  background-color: #ccc;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--sombra);
}

.tarjeta-materia:hover {
  border: 1px solid var(--color-primario-claro);
}

/* Cabecera de la tarjeta: Estado y Nombre */
.info-principal {
  margin-bottom: 1rem;
}

.badge-estado {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.tarjeta-materia h4 {
  font-size: 1rem;
  color: var(--color-primario);
  margin: 0;
  line-height: 1.4;
}

/* Colores según el estado de la materia */
.estado-aprobada {
  background-color: var(--color-primario);
  color: white;
}
.estado-en-curso {
  background-color: var(--color-secundario);
  color: #000000;
}
.estado-final-pendiente {
  background-color: #eee;
  color: #000000;
}
.estado-pendiente {
  background-color: #818181;
  color: white;
}

/* Pie de la tarjeta: Nota e Íconos */
.detalles-materia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f1f5f9;
  padding-top: 1rem;
  margin-top: auto;
}

.dato-nota {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-primario);
  font-weight: 500;
}

.contenedor-botones-card{
  display: flex;
  gap: 0.5rem;
}

.boton-archivos {
  background: var(--color-primario);
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.boton-archivos:hover {
  background-color: var(--color-primario-claro);
  color: white;
}