.barra-lateral {
  background-color: var(--color-primario);
  color: white;
  padding: var(--espaciado-m);
  display: flex;
  flex-direction: column;
}

.encabezado-nav{
  margin-bottom: var(--espaciado-m);
  border-bottom: 2px solid rgba(214, 214, 214, 0.2);
}

.lista-nav {
  list-style: none
}

.lista-nav li {
  padding: var(--espaciado-m);
  cursor: pointer;
  transition: background-color 0.3s;
}

a {
   text-decoration: none;
   color: inherit;
}

.lista-nav li:hover {
  background-color: var(--color-primario-claro);
}